body {
  margin: 0;
  padding: 0;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.FAQ {
  position: absolute;
  top: 200px;
  width: min(600px, 70%);
  height: auto;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h1::before {
  position: relative;
  content: url("./assets/images/icon-star.svg");
  margin-right: 1.5rem;
  top: 5px;
}

/* div.faq-section {
  position: relative;
} */

button {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background: none;
  color: hsl(292, 42%, 14%);
  padding: 0;
  margin-bottom: 1.5rem;
  text-align: start;
  width: 80%;
}

button:hover {
  border: none;
  background: none;
  color: hsl(280, 63%, 51%);
}

.faq-button::after {
  position: absolute;
  top: -5px;
  right: -60px;

  content: url("./assets/images/icon-plus.svg");
}

.faq-button.active::after {
  content: url("./assets/images/icon-minus.svg");
}

/* .firstFaqButton::after {
  position: relative;
  top: 10px;
  content: url("./assets/images/icon-plus.svg");
}

.firstFaqButton.active::after {
  content: url("./assets/images/icon-minus.svg");
}

.secondFaqButton::after {
  position: relative;
  top: 10px;
  content: url("./assets/images/icon-plus.svg");
}

.secondFaqButton.active::after {
  content: url("./assets/images/icon-minus.svg");
}

.thirdFaqButton::after {
  position: relative;
  top: 10px;
  content: url("./assets/images/icon-plus.svg");
}

.thirdFaqButton.active::after {
  content: url("./assets/images/icon-minus.svg");
}

.fourthFaqButton::after {
  position: relative;
  top: 10px;
  content: url("./assets/images/icon-plus.svg");
}

.fourthFaqButton.active::after {
  content: url("./assets/images/icon-minus.svg");
} */

.faq-section {
  column-gap: 1em;
  border-bottom: 1px hsl(275, 100%, 97%) solid;
  margin-bottom: 1rem;
}

.faq-section:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.faq-section > p {
  font: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: hsl(292, 16%, 49%);
  margin-top: 0;
  margin-bottom: 1.5rem;
  display: "";
}

/* .firstFAQ.hidden {
  display: none;
}

.secondFAQ.hidden {
  display: none;
}

.thirdFAQ.hidden {
  display: none;
}

.fourthFAQ.hidden {
  display: none;
} */

.textFaq.hidden {
  display: none;
}

.attribution {
  position: absolute;
  bottom: -800px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
